:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

.buttonGenerate{
    width: 10%;
    margin: 1em 0;
    padding: 0.5em;
    border: 4px solid #4687D3;
    border-radius: 6px;
    background: #4A90E2;
    color: #fff;
  }


.buttonSave {
    width: 10%;
    margin: 1em 0;
    padding: 0.5em;
    border: 4px solid #15bb3f;
    border-radius: 6px;
    background: #15bb3f;
    color: #fff;
  }
.button :hover{
    cursor: pointer;
}
  